*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #242329;
  display: grid;
  place-items: center;
  height: 100vh;
  margin:10px;
}

.header {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 16px;
}

h1{
  font-size: 48px;
  color: #0edf7d;
  padding: 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
 
  background: linear-gradient(#3f3d47 , #3d3c47); 
}
/* ======================== */
.title span {
  --total: calc(var(--duration) + var(--delay));
  position: relative;
  display: block;
  color: transparent;
  overflow: hidden;
  animation: revealText 1s var(--total) forwards;
}

.title span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #04bb75;
  animation:
      rollIn var(--duration) var(--delay) forwards,
      rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
  border-top: 3px solid #04bb75;
}

@keyframes revealText {
  to {
      color: #fff;
  }
}

@keyframes rollIn {
  from {
      transform: scaleX(0);
  }

  to {
      transform: scaleX(1);
  }
}

@keyframes rollOut {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(105%);
  }
}

p{
  margin-bottom:15px;
  
}
p:first-child{
  margin: 0px;
}
label{
  color: #40604e;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
  color: #ffffff; 
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #FFFF;
  font-style: italic;
} 
input {
  outline: none;
  background: #222325;
  color: #ffffff;
}


input::placeholder{
  color:#d2e4d7
}

input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;  
  border: 1px solid #ffffff;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"]{
  
  width: 100%!important;
  cursor: pointer;  
  background: #10e261;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #222325; 
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
}

input[type="submit"]:hover{
  background: #222325;
  background-color: #222325;
}
 
#login{
  top: 0px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 6% 60px 6%;
  border: 1px solid rgba(147, 184, 189,0.8);
  
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}