*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }


  header{
    height: 100vh;
    background-image: url(./Imagens/plantinha1.png); 
  } 

  h1{
    font-size: 59px;
    color: #0aac18;
  }

  h1[id = "menu"]{
    color: rgb(240, 84, 37);
  }


  a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px;
    
  }
  
  
  
  a:hover {
    opacity: 0.7;
  }
  
  
  
  nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
  }
  
    
    .nav-list {
      list-style: none;
      display: flex;
      margin-left: 130vh;
    }
    
    .nav-list li {
     margin: 3em;
    }
    
    .mobile-menu {
      display: none;
      cursor: pointer;
    }
    
    .mobile-menu div {
      width: 32px;
      height: 2px;
      background: #fff;
      margin: 8px;
      transition: 0.3s;
    }
    
    @media (max-width: 999px) {
      
      body,html{
        overflow-x: hidden!important;
        position: relative;
        width: 100%;
      }
  
      .nav-list {
        position: absolute;
        top: 18vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        opacity: 0;
        visibility: hidden;
        margin-left: 150vh;
      }
      .nav-list li {
        opacity: 0;
      }
      .mobile-menu {
        display: block;
        margin-left: 50vh;
      }
      .card{
        width: 70%;
        margin-right: 0;
      }
    }
    
    .nav-list.active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    
  
  
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
  
    .title span {
      --total: calc(var(--duration) + var(--delay));
      position: relative;
      display: block;
      color: transparent;
      overflow: hidden;
      animation: revealText 1s var(--total) forwards;
    }
    
    .title span::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: left;
        background-image: linear-gradient(to right, #ffffff, #ffffff);
      animation:
          rollIn var(--duration) var(--delay) forwards,
          rollOut var(--duration) var(--total) forwards;
    }
    
    .title span:nth-child(2)::after {
      border-top: 3px solid  #0aac18;
    }
    
    @keyframes revealText {
      to {
          color: rgb(0, 0, 0);
      }
    }
    
    @keyframes rollIn {
      from {
          transform: scaleX(0);
      }
    
      to {
          transform: scaleX(1);
      }
    }
    
    @keyframes rollOut {
      from {
          transform: translateX(0);
      }
    
      to {
          transform: translateX(105%);
      }
    }
    
    p{
      font-size: 30px;
    }

